extends layout 

block content

  if items.length 
    p 
      | Delete the following items before removing this category.
      h4 Items 
      d1 
        each item in items 
          a(href=item.url) #{item.name}
  else
    p Do you really want to delete this Category?

    form(method='POST')
      div.form-group
        input#bookid.form-control(type='hidden', name='categoryid', value=category._id )

      button.btn.btn-primary(type='submit') Delete
